--
-- PostgreSQL database dump
--

\restrict KznlwF75RHdUzIWKGaj1uXenul7jm61msHKNDf0CFXSFIiLu819Dh1H07Lje97R

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: update_updated_at(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.update_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alerts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.alerts (
    id bigint NOT NULL,
    alert_type character varying(50) NOT NULL,
    severity character varying(20) NOT NULL,
    title character varying(200) NOT NULL,
    details jsonb,
    related_user_id bigint,
    related_room_id bigint,
    status character varying(20) DEFAULT 'active'::character varying NOT NULL,
    acknowledged_by bigint,
    acknowledged_at timestamp without time zone,
    resolved_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: alerts_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.alerts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: alerts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.alerts_id_seq OWNED BY public.alerts.id;


--
-- Name: balance_transactions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.balance_transactions (
    id bigint NOT NULL,
    tx_type character varying(30) NOT NULL,
    user_id bigint NOT NULL,
    operator_id bigint,
    room_id bigint,
    round_id bigint,
    amount numeric(18,2) NOT NULL,
    balance_before numeric(18,2) NOT NULL,
    balance_after numeric(18,2) NOT NULL,
    balance_field character varying(50) NOT NULL,
    remark character varying(500),
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: balance_transactions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.balance_transactions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: balance_transactions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.balance_transactions_id_seq OWNED BY public.balance_transactions.id;


--
-- Name: chat_messages; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.chat_messages (
    id bigint NOT NULL,
    room_id bigint NOT NULL,
    user_id bigint NOT NULL,
    content character varying(200) NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: chat_messages_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.chat_messages_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: chat_messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.chat_messages_id_seq OWNED BY public.chat_messages.id;


--
-- Name: friend_requests; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.friend_requests (
    id bigint NOT NULL,
    from_user_id bigint NOT NULL,
    to_user_id bigint NOT NULL,
    status character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: friend_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.friend_requests_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: friend_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.friend_requests_id_seq OWNED BY public.friend_requests.id;


--
-- Name: friends; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.friends (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    friend_id bigint NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: friends_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.friends_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: friends_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.friends_id_seq OWNED BY public.friends.id;


--
-- Name: fund_conservation_history; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.fund_conservation_history (
    id bigint NOT NULL,
    scope character varying(20) NOT NULL,
    owner_id bigint,
    period_type character varying(20) NOT NULL,
    period_start timestamp without time zone NOT NULL,
    period_end timestamp without time zone NOT NULL,
    total_player_balance numeric(18,2) DEFAULT 0 NOT NULL,
    total_player_frozen numeric(18,2) DEFAULT 0 NOT NULL,
    total_custody_quota numeric(18,2) DEFAULT 0 NOT NULL,
    total_margin numeric(18,2) DEFAULT 0 NOT NULL,
    owner_room_balance numeric(18,2) DEFAULT 0 NOT NULL,
    owner_withdrawable_balance numeric(18,2) DEFAULT 0 NOT NULL,
    owner_frozen_balance numeric(18,2) DEFAULT 0 NOT NULL,
    platform_balance numeric(18,2) DEFAULT 0 NOT NULL,
    difference numeric(18,2) DEFAULT 0 NOT NULL,
    is_balanced boolean NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: fund_conservation_history_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.fund_conservation_history_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: fund_conservation_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.fund_conservation_history_id_seq OWNED BY public.fund_conservation_history.id;


--
-- Name: fund_requests; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.fund_requests (
    id bigint NOT NULL,
    request_type character varying(30) NOT NULL,
    user_id bigint NOT NULL,
    owner_id bigint,
    amount numeric(18,2) NOT NULL,
    status character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    payment_account character varying(200),
    remark character varying(500),
    operator_id bigint,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: fund_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.fund_requests_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: fund_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.fund_requests_id_seq OWNED BY public.fund_requests.id;


--
-- Name: game_rounds; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.game_rounds (
    id bigint NOT NULL,
    room_id bigint NOT NULL,
    round_number integer NOT NULL,
    participant_ids bigint[] DEFAULT '{}'::bigint[] NOT NULL,
    skipped_ids bigint[] DEFAULT '{}'::bigint[] NOT NULL,
    winner_ids bigint[] DEFAULT '{}'::bigint[] NOT NULL,
    bet_amount numeric(18,2) NOT NULL,
    pool_amount numeric(18,2) DEFAULT 0 NOT NULL,
    prize_per_winner numeric(18,2),
    owner_earning numeric(18,2),
    platform_earning numeric(18,2),
    residual_amount numeric(18,2) DEFAULT 0,
    commit_hash character varying(64),
    reveal_seed character varying(64),
    status character varying(20) DEFAULT 'betting'::character varying NOT NULL,
    failure_reason character varying(100),
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    settled_at timestamp without time zone
);


--
-- Name: game_rounds_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.game_rounds_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: game_rounds_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.game_rounds_id_seq OWNED BY public.game_rounds.id;


--
-- Name: invite_links; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.invite_links (
    id bigint NOT NULL,
    room_id bigint NOT NULL,
    code character varying(32) NOT NULL,
    created_by bigint NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    use_count integer DEFAULT 0 NOT NULL,
    max_uses integer
);


--
-- Name: invite_links_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.invite_links_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: invite_links_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.invite_links_id_seq OWNED BY public.invite_links.id;


--
-- Name: metrics_snapshots; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.metrics_snapshots (
    id bigint NOT NULL,
    online_players integer DEFAULT 0 NOT NULL,
    active_rooms integer DEFAULT 0 NOT NULL,
    games_per_minute numeric(10,2) DEFAULT 0 NOT NULL,
    api_latency_p95 numeric(10,2) DEFAULT 0 NOT NULL,
    ws_latency_p95 numeric(10,2) DEFAULT 0 NOT NULL,
    db_latency_p95 numeric(10,2) DEFAULT 0 NOT NULL,
    daily_active_users integer DEFAULT 0 NOT NULL,
    daily_volume numeric(18,2) DEFAULT 0 NOT NULL,
    platform_revenue numeric(18,2) DEFAULT 0 NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: metrics_snapshots_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.metrics_snapshots_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: metrics_snapshots_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.metrics_snapshots_id_seq OWNED BY public.metrics_snapshots.id;


--
-- Name: platform_account; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.platform_account (
    id bigint NOT NULL,
    balance numeric(18,2) DEFAULT 0 NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    platform_balance numeric(18,2) DEFAULT 0 NOT NULL
);


--
-- Name: platform_account_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.platform_account_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: platform_account_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.platform_account_id_seq OWNED BY public.platform_account.id;


--
-- Name: risk_flags; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.risk_flags (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    flag_type character varying(50) NOT NULL,
    details jsonb,
    status character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    reviewed_by bigint,
    reviewed_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: risk_flags_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.risk_flags_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: risk_flags_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.risk_flags_id_seq OWNED BY public.risk_flags.id;


--
-- Name: room_invitations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.room_invitations (
    id bigint NOT NULL,
    room_id bigint NOT NULL,
    from_user_id bigint NOT NULL,
    to_user_id bigint NOT NULL,
    status character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    expires_at timestamp without time zone NOT NULL
);


--
-- Name: room_invitations_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.room_invitations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: room_invitations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.room_invitations_id_seq OWNED BY public.room_invitations.id;


--
-- Name: room_players; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.room_players (
    id bigint NOT NULL,
    room_id bigint NOT NULL,
    user_id bigint NOT NULL,
    auto_ready boolean DEFAULT false NOT NULL,
    is_online boolean DEFAULT false NOT NULL,
    joined_at timestamp without time zone DEFAULT now() NOT NULL,
    left_at timestamp without time zone
);


--
-- Name: room_players_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.room_players_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: room_players_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.room_players_id_seq OWNED BY public.room_players.id;


--
-- Name: room_spectators; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.room_spectators (
    id bigint NOT NULL,
    room_id bigint NOT NULL,
    user_id bigint NOT NULL,
    joined_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: room_spectators_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.room_spectators_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: room_spectators_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.room_spectators_id_seq OWNED BY public.room_spectators.id;


--
-- Name: room_themes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.room_themes (
    id bigint NOT NULL,
    room_id bigint NOT NULL,
    theme_name character varying(50) DEFAULT 'classic'::character varying NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: room_themes_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.room_themes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: room_themes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.room_themes_id_seq OWNED BY public.room_themes.id;


--
-- Name: rooms; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.rooms (
    id bigint NOT NULL,
    code character varying(10) NOT NULL,
    owner_id bigint NOT NULL,
    bet_amount numeric(18,2) NOT NULL,
    min_players integer DEFAULT 2 NOT NULL,
    max_players integer DEFAULT 10 NOT NULL,
    winner_count integer DEFAULT 1 NOT NULL,
    owner_commission numeric(5,4) DEFAULT 0.03 NOT NULL,
    platform_commission numeric(5,4) DEFAULT 0.02 NOT NULL,
    status character varying(20) DEFAULT 'active'::character varying NOT NULL,
    current_round integer DEFAULT 0 NOT NULL,
    state_json jsonb,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    password character varying(50),
    max_spectators integer DEFAULT 50 NOT NULL,
    name character varying(100),
    CONSTRAINT chk_bet_amount CHECK ((bet_amount = ANY (ARRAY[(5)::numeric, (10)::numeric, (20)::numeric, (50)::numeric, (100)::numeric, (200)::numeric]))),
    CONSTRAINT chk_commission CHECK (((owner_commission + platform_commission) <= 0.10)),
    CONSTRAINT chk_max_players CHECK (((max_players >= min_players) AND (max_players <= 100))),
    CONSTRAINT chk_min_players CHECK (((min_players >= 2) AND (min_players <= 100))),
    CONSTRAINT chk_winner_count CHECK (((winner_count >= 1) AND (winner_count < max_players)))
);


--
-- Name: rooms_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.rooms_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: rooms_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.rooms_id_seq OWNED BY public.rooms.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    username character varying(50) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role character varying(20) DEFAULT 'player'::character varying NOT NULL,
    invited_by bigint,
    invite_code character varying(6),
    balance numeric(18,2) DEFAULT 0 NOT NULL,
    frozen_balance numeric(18,2) DEFAULT 0 NOT NULL,
    owner_room_balance numeric(18,2) DEFAULT 0 NOT NULL,
    owner_withdrawable_balance numeric(18,2) DEFAULT 0 NOT NULL,
    owner_frozen_balance numeric(18,2) DEFAULT 0 NOT NULL,
    owner_custody_quota numeric(18,2) DEFAULT 0 NOT NULL,
    owner_margin_balance numeric(18,2) DEFAULT 0 NOT NULL,
    status character varying(20) DEFAULT 'active'::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    balance_version bigint DEFAULT 0 NOT NULL,
    language character varying(10) DEFAULT 'en'::character varying NOT NULL,
    device_fingerprint character varying(255),
    consecutive_wins integer DEFAULT 0 NOT NULL,
    last_win_at timestamp without time zone,
    total_rounds integer DEFAULT 0 NOT NULL,
    total_wins integer DEFAULT 0 NOT NULL
);


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: alerts id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alerts ALTER COLUMN id SET DEFAULT nextval('public.alerts_id_seq'::regclass);


--
-- Name: balance_transactions id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.balance_transactions ALTER COLUMN id SET DEFAULT nextval('public.balance_transactions_id_seq'::regclass);


--
-- Name: chat_messages id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_messages ALTER COLUMN id SET DEFAULT nextval('public.chat_messages_id_seq'::regclass);


--
-- Name: friend_requests id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.friend_requests ALTER COLUMN id SET DEFAULT nextval('public.friend_requests_id_seq'::regclass);


--
-- Name: friends id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.friends ALTER COLUMN id SET DEFAULT nextval('public.friends_id_seq'::regclass);


--
-- Name: fund_conservation_history id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.fund_conservation_history ALTER COLUMN id SET DEFAULT nextval('public.fund_conservation_history_id_seq'::regclass);


--
-- Name: fund_requests id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.fund_requests ALTER COLUMN id SET DEFAULT nextval('public.fund_requests_id_seq'::regclass);


--
-- Name: game_rounds id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.game_rounds ALTER COLUMN id SET DEFAULT nextval('public.game_rounds_id_seq'::regclass);


--
-- Name: invite_links id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.invite_links ALTER COLUMN id SET DEFAULT nextval('public.invite_links_id_seq'::regclass);


--
-- Name: metrics_snapshots id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.metrics_snapshots ALTER COLUMN id SET DEFAULT nextval('public.metrics_snapshots_id_seq'::regclass);


--
-- Name: platform_account id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.platform_account ALTER COLUMN id SET DEFAULT nextval('public.platform_account_id_seq'::regclass);


--
-- Name: risk_flags id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.risk_flags ALTER COLUMN id SET DEFAULT nextval('public.risk_flags_id_seq'::regclass);


--
-- Name: room_invitations id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.room_invitations ALTER COLUMN id SET DEFAULT nextval('public.room_invitations_id_seq'::regclass);


--
-- Name: room_players id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.room_players ALTER COLUMN id SET DEFAULT nextval('public.room_players_id_seq'::regclass);


--
-- Name: room_spectators id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.room_spectators ALTER COLUMN id SET DEFAULT nextval('public.room_spectators_id_seq'::regclass);


--
-- Name: room_themes id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.room_themes ALTER COLUMN id SET DEFAULT nextval('public.room_themes_id_seq'::regclass);


--
-- Name: rooms id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rooms ALTER COLUMN id SET DEFAULT nextval('public.rooms_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: alerts alerts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_pkey PRIMARY KEY (id);


--
-- Name: balance_transactions balance_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.balance_transactions
    ADD CONSTRAINT balance_transactions_pkey PRIMARY KEY (id);


--
-- Name: chat_messages chat_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_pkey PRIMARY KEY (id);


--
-- Name: friend_requests friend_requests_from_user_id_to_user_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.friend_requests
    ADD CONSTRAINT friend_requests_from_user_id_to_user_id_key UNIQUE (from_user_id, to_user_id);


--
-- Name: friend_requests friend_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.friend_requests
    ADD CONSTRAINT friend_requests_pkey PRIMARY KEY (id);


--
-- Name: friends friends_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.friends
    ADD CONSTRAINT friends_pkey PRIMARY KEY (id);


--
-- Name: friends friends_user_id_friend_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.friends
    ADD CONSTRAINT friends_user_id_friend_id_key UNIQUE (user_id, friend_id);


--
-- Name: fund_conservation_history fund_conservation_history_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.fund_conservation_history
    ADD CONSTRAINT fund_conservation_history_pkey PRIMARY KEY (id);


--
-- Name: fund_requests fund_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.fund_requests
    ADD CONSTRAINT fund_requests_pkey PRIMARY KEY (id);


--
-- Name: game_rounds game_rounds_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.game_rounds
    ADD CONSTRAINT game_rounds_pkey PRIMARY KEY (id);


--
-- Name: game_rounds game_rounds_room_id_round_number_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.game_rounds
    ADD CONSTRAINT game_rounds_room_id_round_number_key UNIQUE (room_id, round_number);


--
-- Name: invite_links invite_links_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.invite_links
    ADD CONSTRAINT invite_links_code_key UNIQUE (code);


--
-- Name: invite_links invite_links_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.invite_links
    ADD CONSTRAINT invite_links_pkey PRIMARY KEY (id);


--
-- Name: metrics_snapshots metrics_snapshots_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.metrics_snapshots
    ADD CONSTRAINT metrics_snapshots_pkey PRIMARY KEY (id);


--
-- Name: platform_account platform_account_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.platform_account
    ADD CONSTRAINT platform_account_pkey PRIMARY KEY (id);


--
-- Name: risk_flags risk_flags_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.risk_flags
    ADD CONSTRAINT risk_flags_pkey PRIMARY KEY (id);


--
-- Name: room_invitations room_invitations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.room_invitations
    ADD CONSTRAINT room_invitations_pkey PRIMARY KEY (id);


--
-- Name: room_players room_players_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.room_players
    ADD CONSTRAINT room_players_pkey PRIMARY KEY (id);


--
-- Name: room_players room_players_room_id_user_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.room_players
    ADD CONSTRAINT room_players_room_id_user_id_key UNIQUE (room_id, user_id);


--
-- Name: room_spectators room_spectators_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.room_spectators
    ADD CONSTRAINT room_spectators_pkey PRIMARY KEY (id);


--
-- Name: room_spectators room_spectators_room_id_user_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.room_spectators
    ADD CONSTRAINT room_spectators_room_id_user_id_key UNIQUE (room_id, user_id);


--
-- Name: room_themes room_themes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.room_themes
    ADD CONSTRAINT room_themes_pkey PRIMARY KEY (id);


--
-- Name: room_themes room_themes_room_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.room_themes
    ADD CONSTRAINT room_themes_room_id_key UNIQUE (room_id);


--
-- Name: rooms rooms_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT rooms_code_key UNIQUE (code);


--
-- Name: rooms rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT rooms_pkey PRIMARY KEY (id);


--
-- Name: users users_invite_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_invite_code_key UNIQUE (invite_code);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: idx_alerts_severity; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_alerts_severity ON public.alerts USING btree (severity);


--
-- Name: idx_alerts_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_alerts_status ON public.alerts USING btree (status, created_at DESC);


--
-- Name: idx_alerts_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_alerts_type ON public.alerts USING btree (alert_type);


--
-- Name: idx_chat_room_time; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_chat_room_time ON public.chat_messages USING btree (room_id, created_at DESC);


--
-- Name: idx_chat_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_chat_user ON public.chat_messages USING btree (user_id);


--
-- Name: idx_friend_req_from; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_friend_req_from ON public.friend_requests USING btree (from_user_id);


--
-- Name: idx_friend_req_to; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_friend_req_to ON public.friend_requests USING btree (to_user_id, status);


--
-- Name: idx_friends_friend; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_friends_friend ON public.friends USING btree (friend_id);


--
-- Name: idx_friends_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_friends_user ON public.friends USING btree (user_id);


--
-- Name: idx_fund_owner; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_fund_owner ON public.fund_requests USING btree (owner_id);


--
-- Name: idx_fund_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_fund_status ON public.fund_requests USING btree (status);


--
-- Name: idx_fund_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_fund_type ON public.fund_requests USING btree (request_type);


--
-- Name: idx_fund_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_fund_user ON public.fund_requests USING btree (user_id);


--
-- Name: idx_invitation_room; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_invitation_room ON public.room_invitations USING btree (room_id);


--
-- Name: idx_invitation_to; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_invitation_to ON public.room_invitations USING btree (to_user_id, status);


--
-- Name: idx_invite_code; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_invite_code ON public.invite_links USING btree (code);


--
-- Name: idx_invite_room; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_invite_room ON public.invite_links USING btree (room_id);


--
-- Name: idx_metrics_time; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_metrics_time ON public.metrics_snapshots USING btree (created_at DESC);


--
-- Name: idx_risk_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_risk_status ON public.risk_flags USING btree (status);


--
-- Name: idx_risk_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_risk_type ON public.risk_flags USING btree (flag_type);


--
-- Name: idx_risk_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_risk_user ON public.risk_flags USING btree (user_id);


--
-- Name: idx_rooms_code; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_rooms_code ON public.rooms USING btree (code);


--
-- Name: idx_rooms_owner; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_rooms_owner ON public.rooms USING btree (owner_id);


--
-- Name: idx_rooms_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_rooms_status ON public.rooms USING btree (status);


--
-- Name: idx_rounds_created; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_rounds_created ON public.game_rounds USING btree (created_at);


--
-- Name: idx_rounds_room; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_rounds_room ON public.game_rounds USING btree (room_id);


--
-- Name: idx_rounds_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_rounds_status ON public.game_rounds USING btree (status);


--
-- Name: idx_rp_room; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_rp_room ON public.room_players USING btree (room_id);


--
-- Name: idx_rp_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_rp_user ON public.room_players USING btree (user_id);


--
-- Name: idx_spectator_room; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_spectator_room ON public.room_spectators USING btree (room_id);


--
-- Name: idx_spectator_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_spectator_user ON public.room_spectators USING btree (user_id);


--
-- Name: idx_theme_room; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_theme_room ON public.room_themes USING btree (room_id);


--
-- Name: idx_tx_created; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_tx_created ON public.balance_transactions USING btree (created_at);


--
-- Name: idx_tx_room; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_tx_room ON public.balance_transactions USING btree (room_id);


--
-- Name: idx_tx_round; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_tx_round ON public.balance_transactions USING btree (round_id);


--
-- Name: idx_tx_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_tx_type ON public.balance_transactions USING btree (tx_type);


--
-- Name: idx_tx_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_tx_user ON public.balance_transactions USING btree (user_id);


--
-- Name: idx_users_fingerprint; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_fingerprint ON public.users USING btree (device_fingerprint);


--
-- Name: idx_users_invite_code; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_invite_code ON public.users USING btree (invite_code);


--
-- Name: idx_users_invited_by; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_invited_by ON public.users USING btree (invited_by);


--
-- Name: idx_users_language; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_language ON public.users USING btree (language);


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_role ON public.users USING btree (role);


--
-- Name: idx_users_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_status ON public.users USING btree (status);


--
-- Name: friend_requests friend_requests_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER friend_requests_updated_at BEFORE UPDATE ON public.friend_requests FOR EACH ROW EXECUTE FUNCTION public.update_updated_at();


--
-- Name: fund_requests fund_requests_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER fund_requests_updated_at BEFORE UPDATE ON public.fund_requests FOR EACH ROW EXECUTE FUNCTION public.update_updated_at();


--
-- Name: platform_account platform_account_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER platform_account_updated_at BEFORE UPDATE ON public.platform_account FOR EACH ROW EXECUTE FUNCTION public.update_updated_at();


--
-- Name: room_themes room_themes_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER room_themes_updated_at BEFORE UPDATE ON public.room_themes FOR EACH ROW EXECUTE FUNCTION public.update_updated_at();


--
-- Name: rooms rooms_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER rooms_updated_at BEFORE UPDATE ON public.rooms FOR EACH ROW EXECUTE FUNCTION public.update_updated_at();


--
-- Name: users users_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_updated_at();


--
-- Name: alerts alerts_acknowledged_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_acknowledged_by_fkey FOREIGN KEY (acknowledged_by) REFERENCES public.users(id);


--
-- Name: alerts alerts_related_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_related_room_id_fkey FOREIGN KEY (related_room_id) REFERENCES public.rooms(id);


--
-- Name: alerts alerts_related_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_related_user_id_fkey FOREIGN KEY (related_user_id) REFERENCES public.users(id);


--
-- Name: balance_transactions balance_transactions_operator_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.balance_transactions
    ADD CONSTRAINT balance_transactions_operator_id_fkey FOREIGN KEY (operator_id) REFERENCES public.users(id);


--
-- Name: balance_transactions balance_transactions_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.balance_transactions
    ADD CONSTRAINT balance_transactions_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.rooms(id);


--
-- Name: balance_transactions balance_transactions_round_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.balance_transactions
    ADD CONSTRAINT balance_transactions_round_id_fkey FOREIGN KEY (round_id) REFERENCES public.game_rounds(id);


--
-- Name: balance_transactions balance_transactions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.balance_transactions
    ADD CONSTRAINT balance_transactions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: chat_messages chat_messages_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.rooms(id) ON DELETE CASCADE;


--
-- Name: chat_messages chat_messages_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: friend_requests friend_requests_from_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.friend_requests
    ADD CONSTRAINT friend_requests_from_user_id_fkey FOREIGN KEY (from_user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: friend_requests friend_requests_to_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.friend_requests
    ADD CONSTRAINT friend_requests_to_user_id_fkey FOREIGN KEY (to_user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: friends friends_friend_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.friends
    ADD CONSTRAINT friends_friend_id_fkey FOREIGN KEY (friend_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: friends friends_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.friends
    ADD CONSTRAINT friends_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: fund_conservation_history fund_conservation_history_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.fund_conservation_history
    ADD CONSTRAINT fund_conservation_history_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id);


--
-- Name: fund_requests fund_requests_operator_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.fund_requests
    ADD CONSTRAINT fund_requests_operator_id_fkey FOREIGN KEY (operator_id) REFERENCES public.users(id);


--
-- Name: fund_requests fund_requests_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.fund_requests
    ADD CONSTRAINT fund_requests_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id);


--
-- Name: fund_requests fund_requests_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.fund_requests
    ADD CONSTRAINT fund_requests_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: game_rounds game_rounds_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.game_rounds
    ADD CONSTRAINT game_rounds_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.rooms(id);


--
-- Name: invite_links invite_links_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.invite_links
    ADD CONSTRAINT invite_links_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: invite_links invite_links_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.invite_links
    ADD CONSTRAINT invite_links_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.rooms(id) ON DELETE CASCADE;


--
-- Name: risk_flags risk_flags_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.risk_flags
    ADD CONSTRAINT risk_flags_reviewed_by_fkey FOREIGN KEY (reviewed_by) REFERENCES public.users(id);


--
-- Name: risk_flags risk_flags_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.risk_flags
    ADD CONSTRAINT risk_flags_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: room_invitations room_invitations_from_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.room_invitations
    ADD CONSTRAINT room_invitations_from_user_id_fkey FOREIGN KEY (from_user_id) REFERENCES public.users(id);


--
-- Name: room_invitations room_invitations_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.room_invitations
    ADD CONSTRAINT room_invitations_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.rooms(id) ON DELETE CASCADE;


--
-- Name: room_invitations room_invitations_to_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.room_invitations
    ADD CONSTRAINT room_invitations_to_user_id_fkey FOREIGN KEY (to_user_id) REFERENCES public.users(id);


--
-- Name: room_players room_players_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.room_players
    ADD CONSTRAINT room_players_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.rooms(id);


--
-- Name: room_players room_players_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.room_players
    ADD CONSTRAINT room_players_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: room_spectators room_spectators_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.room_spectators
    ADD CONSTRAINT room_spectators_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.rooms(id) ON DELETE CASCADE;


--
-- Name: room_spectators room_spectators_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.room_spectators
    ADD CONSTRAINT room_spectators_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: room_themes room_themes_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.room_themes
    ADD CONSTRAINT room_themes_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.rooms(id) ON DELETE CASCADE;


--
-- Name: rooms rooms_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT rooms_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id);


--
-- Name: users users_invited_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_invited_by_fkey FOREIGN KEY (invited_by) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict KznlwF75RHdUzIWKGaj1uXenul7jm61msHKNDf0CFXSFIiLu819Dh1H07Lje97R

