server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: fiveseconds
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 5s
    relabel_configs:
      - source_labels: ['__meta_docker_container_name']
        regex: '/(.*)'
        target_label: 'container'
      - source_labels: ['__meta_docker_container_label_com_docker_compose_service']
        target_label: 'service'
    pipeline_stages:
      - json:
          expressions:
            level: level
            trace_id: trace_id
            service: service
            env: env
            message: message
            timestamp: timestamp
      - labels:
          level:
          service:
          env:
      - timestamp:
          source: timestamp
          format: RFC3339Nano

  - job_name: fiveseconds-file
    static_configs:
      - targets:
          - localhost
        labels:
          job: fiveseconds
          __path__: /var/log/fiveseconds/*.log
    pipeline_stages:
      - json:
          expressions:
            level: level
            trace_id: trace_id
            service: service
            env: env
      - labels:
          level:
          service:
          env:
